<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>

    body {
      margin: 0;
      display: flex;
      flex-direction: column;
      font-family: Arial, Helvetica, sans-serif;
    }

    .flex-container {
      display: flex;
      flex-direction: row;
      padding: 0px;
      margin: 0px;
    }

    .active {
      background-color: #2196F3;
      color: white;
    }

    nav {
      background-color: #e9e9e9;
      list-style-type: none;
    }

    a {
      text-decoration: none;
      font-size: 20px;
      color: black;
      padding: 20px;
    }

    a:hover:not(.active) {
      background-color: #ddd;
      cursor: pointer;
    }

  </style>

</head>

<body>

  <nav class="flex-container">
    <a class="active" href="/">Home</a>
    <a href="/createBlog">Create Blog</a>
    <a href="/blogs">Blogs</a>
  </nav>

  {{{content}}}


</body>

</html>