<div class="flex-container" style="display: flex; align-items: center; flex-direction: column;
justify-content: center; height: 50vh; margin-top: 20vh; border-radius: 5px;">
    <img src="https://avatars1.githubusercontent.com/u/3774533?s=200&v=4" alt="hapi logo">
    <h1>The Hapi Blog</h1>
    <h3>Welcome to the Hapi Blog! Read other's blogs or make your own!</h3>
</div>
